{%extends "base.html"%}
{% from "form_macros.html" import render_field %}

{% block title%}
{{ current_user.username}}
{%endblock%}

{% block content%}

<a href="{{ url_for('home') }}" class="btn btn-primary">Go to Home</a>
  
<div class="col-md-8"> <!-- Posts column -->
  {% if posts %}
      {% for post in posts %}
          <div class="card mb-3">
              <div class="card-header">
                  {{ post.postname}}
              </div>
              <div class="card-body">
                  <p class="card-text">{{ post.content }}</p>
              </div>
          </div>
      {% endfor %}
  {% else %}
      <p>No posts made.</p>
  {% endif %}
</div>

{%endblock%}
